/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding-top: 80px;
    font-family: 'Alatsi';
    color: #083C08;
    background-color: #ffffff;
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  
  .logo {
    font-family: 'Agbalumo';
    font-size: 30px;
    color: #38DE40;
  }
  
  .logo span {
    color: #083C08;
  }
  
  .nav-links a {
    font-size: 15px;
    margin-right: 30px;
    text-decoration: none;
    color: #083C08;
  }

  .nav-links a:hover {
    text-decoration: underline;
    transition-duration: 0.2s;
  }
  
  .nav-links button {
    font-family: 'Alatsi';
    font-size: 15px;
    padding: 8px 32px;
    background-color: #38DE40;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }

  .nav-links button:hover {
    background-color: #2ebd35;
    transition-duration: 0.2s;
  }
  
  /* Hero Section */
  .hero {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  
  .hero img {
    width: 100%;
    display: block;
    border-radius: 20px;
  }
  
  /* Position text ONLY on left side */
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;   /* Adjust this to cover white area */
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    padding-left: 100px;
    text-align: left;
    color: #083C08;
  }
  
  .hero-overlay h1 {
    font-size: 55px;
    line-height: 80px;
    font-weight: normal;
    margin-bottom: 120px;
  }
  
  .cta-button {
    font-family: 'Agbalumo';
    font-size: 18px;
    font-weight: normal;
    padding: 8px 100px;
    background-color: #083C08;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .cta-button:hover {
    background-color: #0b530b;
    transition-duration: 0.2s;
  }

  /* Reviews Section */
  .reviews {
    padding: 20px;
  }
  
  .reviews h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: normal;
    padding-left: 85px;
  }
  
  .reviews-container {
    display: flex;
    gap: 100px;
    justify-content: center;
  }
  
  .review-card {
    background: white;
    padding: 15px 35px 15px 35px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    text-align: center;
  }
  
  .review-card p {
    color:#38DE40;
    margin-bottom: 15px;
  }
  
  .review-card small {
    color: #083C08;
    font-size: 12px;
  }
  